@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*Versão do StyleBoots 1.1.3*/


/*
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Navbar mnu001*/

.mnu001-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

.mnu001 {
    position: relative;
}

.mnu001-logo {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    border-radius: 50%;
}

.mnu001-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.mnu001-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.mnu001-items a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.mnu001-items a:hover {
    color: #ccc;
}

@media (max-width: 670px) {
    .mnu001-container {
        width: 100%;
        height: auto;
        background-color: #232a31;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        align-items: center;
    }
    .mnu001 {
        position: initial;
        padding-top: 10px;
    }
    .mnu001-logo {
        display: block;
        width: 50px;
        height: 50px;
        margin-top: 15px;
        margin: auto;
    }
    .mnu001-items {
        position: initial;
        right: 0;
        height: auto;
        line-height: 40px;
        margin: 0;
        display: inline-block;
    }
    .mnu001-items li {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 10px;
        padding-top: 0;
    }
    .mnu001-items a {
        color: #fff;
        text-decoration: none;
        transition: 0.5s;
        font-size: 10px;
        padding: 10px 0px;
        display: inline-block;
    }
    .mnu001-items a:hover {
        color: #ccc;
    }
}


/* fim Navbar mnu001*/


/*######################################################################*/


/*Navbar mnu002*/

.mnu002-container {
    width: 100%;
}

.mnu002 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #333;
    padding: 10px;
}

.mnu002 ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mnu002 ul li {
    display: inline-block;
}

.mnu002 ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.mnu002 ul li a:hover {
    background-color: #555;
}


/*######################################################################*/


/*botoes*/

.btns001 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns001:hover {
    background-color: #ff6600;
}

.btns002 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns002:hover {
    background-color: #0056b3;
}

.btns003 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns003:hover {
    background-color: #007bff;
    color: #fff;
}

.btns004 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns004:hover {
    background-color: #0056b3;
}

.btns005 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns005:hover {
    background-color: #0056b3;
}

.btns006 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right, #007bff, #00bcd4);
    color: #fff;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btns006:hover {
    background: linear-gradient(to right, #0056b3, #008fb3);
}


/*######################################################################*/


/*Tabelas*/

.tabls001-container {
    overflow-x: auto;
}

#minha-tabls001 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.minha-tabls001 th {
    background-color: rgb(249, 70, 70);
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
}

.minha-tabls001 td {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    text-align: left;
    border-bottom: 1px solid #ec6161;
}

.tabls-cor {
    background-color: rgb(191, 81, 81);
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #minha-tabls001 {
        display: block;
    }
    #minha-tabls001 thead,
    #minha-tabls001 tbody,
    #minha-tabls001 th,
    #minha-tabls001 td,
    #minha-tabls001 tr {
        display: block;
    }
    #minha-tabls001 th {
        color: #ffffff;
        padding: 15px;
        text-align: center;
    }
    #minha-tabls001 tbody {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .minha-tabls001 tr {
        margin-bottom: 50px;
        background: rgb(255, 255, 255);
    }
    .minha-tabls001 td {
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
        padding: 15px;
    }
    .tabls-cor {
        background-color: rgb(191, 81, 81);
        color: #fff;
        font-weight: bold;
    }
}


/*######################################################################*/


/*Tela de Cadastro*/

.teldcs001-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teldcs001-container {
    text-align: center;
}

.teldcs001-container h1 {
    margin-bottom: 15px;
}

.teldcs001-container .teldcs001 .teldcs001-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.teldcs001-container .teldcs001 .teldcs001-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease;
}

.teldcs001-container .teldcs001 .teldcs001-button:hover {
    background-color: #45a049;
}

.teldcs001-link {
    display: inline-block;
    margin-top: 15px;
    color: black;
}

@media screen and (max-width: 690px) {
    .teldcs001-container {
        width: 90%;
    }
}


/*######################################################################*/


/*Tela de Login*/

.tedls001-container {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

.tedls001-container>h1 {
    margin-bottom: 15px;
}

.tedls001-container>.tedls001>.tedls001-input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.tedls001-container>.tedls001>.tedls001-button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.tedls001-container>.tedls001>.tedls001-button:hover {
    background-color: deepskyblue;
}

.tedls001-link {
    display: inline-block;
    color: white;
    margin-top: 10px;
}

@media screen and (max-width:690px) {
    .tedls001-container {
        padding: 20px;
    }
}

@media screen and (max-width:310px) {
    .tedls001-container {
        padding: 10px;
        width: 90%;
        text-align: center;
    }
    .tedls001-container>.tedls001 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tedls001-container>.tedls001 .tedls001-input {
        width: 80%;
    }
}


/*######################################################################*/


/*Bannes*/

.banns001-container {
    background-color: #4caf50;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.banns001-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banns001-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banns001-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #4caf50;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.banns001-link:hover {
    background-color: #f2f2f2;
}


/*######################################################################*/


/*Cards*/

.crd001-container .crd001 {
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crd001 h3 {
    text-align: center;
    padding: 0 10px 10px;
}

.crd001 p {
    text-align: center;
}


/* seção de texto */

.sctxt001-container .sctxt001 {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sctxt001-container .sctxt001 h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.sctxt001-container .sctxt001 p {
    color: #666;
    font-size: 16px;
}


/*seção de texto com imagem*/

.sctxtimg001-container .sctxtimg001 {
    text-align: center;
    background-color: #ccc;
    padding: 10px;
    min-height: 200px;
}

.sctxtimg001 .image {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.sctxtimg001 p {
    padding: 20px;
}


/*seção de imagem*/

.scimg-section-container {
    width: 100%;
    background-color: #121212;
    text-align: center;
    padding-bottom: 10px;
}

.scimg-section-container h3 {
    color: white;
    padding: 40px;
}

.scimg-section {
    column-count: 3;
    column-gap: 10px;
}

.scimg-section img {
    width: 90%;
    border-radius: 4px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .scimg-section-container h3 {
        padding: 10px 0px 10px;
    }
}