@import url('geral.css');

.container-bemvindo {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: red;
    text-align: center;
    animation: gradiendanimado 10s ease infinite;
    background: linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5,#23d5ab) no-repeat;
    padding: 10px 20px;
    background-size: 300% 300%;
}
.container-bemvindo p {
    font-size: 27px;
    width: 590px;
    font-weight: bold;
    color: #fff;
    text-shadow: #000 2px 2px 3px ;
}
@keyframes gradiendanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.container-d{
    margin-top: 70px;
    padding: 20px;
    margin-bottom: 60px;
}

.container-d h1 {
    padding: 30px;
}

.container-d h2 {
    padding: 30px;

}

.container-d p {
    font-size: 23px;
    margin-left: 27px;
}


@media screen and (max-width: 670px) {
    .container-bemvindo p {
        font-size: 27px;
        width: 80%;
        font-weight: bold;
        color: #fff;
        text-shadow: #000 2px 2px 3px ;
    }


    .container-d{
        margin-top: 70px;
        padding: 10px;
        margin-bottom: 60px;
    }
    

    .container-d p {
        font-size: 15px;
        margin-left: 0;
    }
    
}