@import url('../StyleBoots/StyleBoots.css');
@import url('geral.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Scroll-on {
    overflow: auto;
}


#header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#logo img {
    width: 50px;
    border-radius: 50%;
    font-weight: bold;
}

#header {
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232a31;
    
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;

}

#menu a {
    display: block;
    padding: .5rem;
    
}

#btn-mobile {
    display: none;
}



@media screen and (max-width: 600px){
    #btn-mobile {
        display: block;
        border: none;
        background: none;
    }

    #btn-mobile:hover {
        transform: scale(1.1);
    }

    #btn-mobile img {
        width: 40px;
        height: 40px;
    }

    #menu {
        display: none;  
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: rgba(47, 64, 82, 0.472);
        transform: .6s;
        height: calc(100vh - 70px);
        z-index: 10000;
    }

    #nav.active #menu {
        display: block;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0,0.05);
        
    }

  
    .Scroll-off {
        overflow: hidden;
    }

    #menu li:hover {
        background-color: #232a3194;
    }
}